body{
    font-size: 12px;
    a{
        display: inline;
    }
    button{
        cursor: pointer;
        outline: none;
    }
    input{
        outline: none;
    }
    // <!-- 添加商品到购物后显示的隐藏屏幕 -->
    .shop_hid{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #666, $alpha: .4);
        position: fixed;
        margin-top: -32px;
        z-index: 1000;
        display: none;
        .sh_box{
            padding: 50px 0 20px;
            width: 495px;
            height: 192px;
            background-color: #fff;
            margin: auto;
            margin-top: 360px;
            border: 5px solid #ccc;
            text-align: center;
            h4{
                color: #000;
                font-weight: bold;
                margin-bottom: 14px;
            }
            button{
                width: 125px;
                height: 43px;
                font-size: 14px;
                border: none;
            }
            .sh_lt{
                background-color: #fcfcfc;
                color: #666;
                margin-right: 10px;
                border: 1px solid #ddd;
            }
            .sh_gt{
                background-color: #f95a54;
                color: #fff;
            }
        }
    }
// 详情主体
.details_main{
    border-top: 2px solid #f93d48;
    .details_all{
        overflow: hidden;
        width: 1200px;
        margin: 0 auto;
        a{
            display: inline;
        }
        .details_all_nav{
            height: 50px;
            font-size: 12px;
            line-height: 37px;
            a{
                color: #555555;
                margin: 0 8px;
                &:first-of-type{
                    margin-left: 0;
                }
            }

        }
            /*
            放大镜
            */ 
        .details_all_lg{
            width:400px ;
            float: left;
            position: relative;
            .details_all_lg_img{
                width: 398px;
                height: 398px;
                border: 1px solid #ddd;
                margin-bottom: 25px;
                padding: 19px ;
                position: relative;
                .cover{
                    width: 120px;
                    height: 120px;
                    background-color: rgba($color: #666, $alpha: .4);
                    position: absolute;
                    top: 19px;
                    display: none;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .lg_show{
                display: none;
                position: absolute;
                right: -564px;
                top: 0px;
                width: 550px;
                overflow: hidden;
                z-index: 1000;
                height: 440px;
                border: 1px solid #ddd;
            }
        .details_all_lg_down{
            .clearfix {
                display: block;
                content: ".";
                height: 0;
                visibility: hidden;
                clear: both;
                font-size: 0;
                line-height: 0;
            }
            text-align: center;
            line-height: 60px;
            >a{
                display: block;
                width: 34px;
                &:first-of-type{
                   float: left; 
                }
                &:last-of-type{
                    float: left; 
                 }
            }
            .details_lb{  
                float: left;        
                width: 327px;
                // background-color: plum;
                overflow: hidden;
                .lb_container{ 
                    width: 395px;
                    a{
                        float: left;
                        display: block;                 
                        img{
                            width: 50px;
                            height: 50px;
                            margin: 3px 8px;
                        }
                        .lg_clean{
                            width: 56px;
                            padding: 3px;
                            height: 56px;
                            border: 2px solid #999999;
                            margin: 0px;
                        }
                    
                }              
            }
        }
        
     }
     >p{
        line-height: 14px;
        margin-top: 13px;
        color: #999999;
        span{
            color: #cccccc;
            margin: 0 16px 0 6px;
        }
        a{
            color: #666666;
        }
      }     
     }
        .details_all_choose{
            padding:0 25px ;
            width:620px ;
            float: left;
            .title{
                // background-color: plum;
                text-align: center;
                height: 42px;
                dt{
                    width: 30px;
                    font-size:11px ;
                    color:#f9646a ;
                    border: 1px solid #efa3ae;
                    height: 16px;
                    margin: 14px 7px 0 0;
                    float: left;
                }
                dd{
                    margin-top: 12px;
                    font-weight: bold;
                    float: left;
                    font-size:15px ;
                    color:#333333 ;
                }
            }
            .price{
                height: 48px;
                padding: 5px 0;
                background-color: #fce5e1;
                border-top: 1px #fccbc5 solid;
                border-bottom: 1px #fccbc5 solid;
                span{
                    color: #666666;
                    // display: ;
                    margin: 0 26px 0 10px;
                }
                i{
                    font-weight: bolder;
                    font-size: 25px;
                    color: #e00023;
                }
            }
            .comment{
                height: 30px;
                background-color: #fef4f2;
                a{
                    width: 164px;
                    line-height: 30px;
                    margin-left: 70px;
                    span{
                        color:#fa8661;
                    }
                }
            }
            .coupon{
                padding: 20px 10px;
                height: 60px;
                li{
                    float: left;
                    &:nth-of-type(1){
                        color: #666666;
                        margin-right: 25px;
                    }
                    &:nth-of-type(2){
                        width: 76px;
                        color: #f96a60;
                        border: 1px solid #fdd6d0;
                        text-align: center;
                        background-color: #fef4f2;
                    }
                    &:nth-of-type(3){
                        float: right;
                        color: #999999;
                    }
                }
            }
            .promotion{
                padding: 0 10px;
                margin-top: 8px;
                overflow: hidden;
                li{
                    float: left;
                    &:nth-of-type(1){
                        color: #666666;
                        line-height: 25px;
                        margin-right: 36px;
                    }
                    &:nth-of-type(2){
                        color: #fff;
                        width: 34px;
                        line-height: 16px;
                        text-align: center;
                        margin-right: 10px;
                        background-color: #fa8661;
                    }
                    &:nth-of-type(3){
                        margin-right: 10px;
                    }
                    &:nth-of-type(4){      
                       a{
                        color: #1a68c8;
                       } 
                    }
                    &:nth-of-type(5){
                        float: right;
                        a{
                            color: #999;
                        }
                    }
                }
            }
            .kind{
                overflow: hidden;
                padding: 16px 10px;
                border-top: 1px #d9d9d9 dotted;
                border-bottom: 1px #d9d9d9 dotted;
                ._left{
                    float: left;
                    width: 62px;
                    p{ 
                        padding-top: 23px;                     
                    }
                }
                ._right{
                    width: 488px;
                    float: right;
                        ul{
                          li{
                            float: left;
                                a{
                                    margin-right: 8px;
                                    margin-bottom: 4px;
                                    display: block;
                                    padding: 8px;
                                    border: 1px solid #dddddd;
                           }
                     }
                 }
               }  
             }
             .delivery{
                overflow: hidden;
                 border-bottom: 1px dotted #d9d9d9;
                 padding: 15px 10px 0;
                 p{
                    margin-top: 5px;
                    font-size: 14px;
                    color:#666 ;
                    float: left;  
                    width: 61px; 
                 }
                 ._right{
                    float: left;
                    .d_top{
                        height: 62px;
                    }
                    ._shopcar{
                        height: 78px;
                        .sc_num{
                            width: 69px;
                            height: 48px;
                            float: left;
                            margin-right: 8px;
                            border: 1px solid #c8c7cc;
                            input{
                                width:45px ;
                                height: 46px;
                                font-size: 20px;
                                font-weight: bolder;
                                text-align: center;
                                border: none;
                                float: left;
                            }
                            button{
                                float: left;
                                border: none;
                                width: 22px;
                                height: 22px;
                                &:first-of-type{
                                    background-color: #fff;
                                }
                            }
                        }
                        .join-sc{
                            cursor: pointer;
                            font-size: 16px;
                            float: left;
                            width: 137px;
                            color: #fff;
                            background-color:#f95a54; 
                            line-height: 48px;
                            text-align: center;
                            margin-right: 9px;
                        }
                        a{
                            display: block;
                            float: left;
                            margin-top: 30px;
                            color: #6480d8;
                        }
                    }
                 }
             }
             .sale-after{
                 padding: 14px 0 0 12px;
                 li{
                     float: left;
                     &:nth-of-type(1){
                        margin-right:36px ;
                        font-size:12px ;
                        color:#666666 ; 
                     }
                     &:nth-of-type(2){
                        margin-right:21px ;
                        font-size: 12px;
                        color:#666666 ; 
                     }
                     &:nth-of-type(3){
                        font-size: 12px;
                        color:#666666 ; 
                     }
                 }
             }
            }

        .details_all_more{ 
            float: left;
            width: 180px;
            height: 597px;
            border: 1px solid #eaeaea;
            ._top{
                overflow: hidden;
                padding: 0 24px;
                line-height:30px ;
                border-bottom: 1px solid #eaeaea;
                span{
                    font-size:14px ;
                    color:#666666 ;
                    float: left;
                }
                a{
                    color:#aaaaaa;
                    float: right;
                }
            }
            ._show{
                padding: 0 24px;
                dt{
                    width: 130px;
                    height: 130px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                dd{
                    text-align: center;
                    p{
                        color:#333333 ;
                        font-size:12px ;
                        margin: 4px 0;
                        &:nth-of-type(2){
                        color:#e0002c ;
                        font-size:15px ;
                        }
                    }
                }
            }
        }
    }
}

/*
第二屏
*/
.details_other{
    // overflow: hidden;
    margin-top: 20px;
    .details_other_all{
        overflow: hidden;
        width: 1200px;
        margin: 0 auto;
        .list{
            float: left;
            width: 208px;
            border: 1px solid #eeeeee;
            .title{    
                height: 37px;
                border-bottom: 1px #eee solid;
                padding-top: 13px;
                background-color: #f7f7f7;     
                a{
                   color: #333;
                   margin-left: 43px;
                   margin-right: 9px;
                }
                span{
                    border: 1px red solid;
                   color: red;
                   background-color: #feefef;
                }
            }
            .enter{
                height: 84px;
                text-align: center;
                border-bottom: 2px #eee solid;
                p{
                    line-height: 40px;
                    color: #666697;
                }
                a{
                    margin-top: 8px;
                    margin-left: 63px;
                    width: 84px;
                    line-height: 28px;
                    display: block;
                    color: #fff;
                    background: #f95a54;
                }
            }
            >p{
                font-size: 14px;
                line-height: 35px;
                text-align: center;
                
            }
            .list-all{
                padding: 0 9px;
    
                dl{
                    border-top: 1px solid #eee;
                    dt{
                        width: 115px;
                        height: 115px;
                        text-align: center;
                        margin: 20px  0 0 30px;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    dd{
                        .p1{
                            display: block;
                            color: #666;
                            overflow: hidden;
                            margin-bottom: 10px;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }
                        span{
                            color:#e00023 ;
                            display: block;
                        }
                        .p2{
                            border: 1px solid #cccccc;
                            background-color:#f7f7f7 ;
                            width:88px ;
                            line-height:26px ;
                            text-align: center;
                            display: block;
                            margin: 0 0 30px 50px;
                        }
                    }
                }
            }
        }
        .list_right{
            margin-left: 10px;
            float: left;
            width: 978px;
            height: 100%;
            .rank{
                height: 321px;
                border: 1px solid #eee;
                padding: 10px;
                margin-bottom: 12px;
                p{
                    text-indent: 10px;
                    height: 24px;
                    font-size: 14px;
                    color: #333;
                    border-left: 3px #f93d48 solid;
                    padding-bottom: 10px;
                }
                .rank_list{
                    border-top: 1px #eee solid;
                    height: 285px;
                    dl{
                        margin-top: 15px;
                        padding-left: 10px;
                        width: 191px;
                        float: left;
                        dt{
                            width: 115px;
                            height: 115px;
                            text-align: center;
                            margin: 20px 0 0 15px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        dd{
                            .p1{
                                display: block;
                                color: #666;
                                overflow: hidden;
                                margin-bottom: 10px;
                            }
                            span{
                                color:#e00023 ;
                                display: block;
                            }
                            .p2{
                                border: 1px solid #cccccc;
                                background-color:#f7f7f7 ;
                                width:88px ;
                                line-height:26px ;
                                text-align: center;
                                display: block;
                                margin: 10px 0 20px 40px;
                            }
                        }
                    }
                }        
            }
            .Tab{
                .lists{
                    width: 978px;
                    ul{
                        overflow: hidden;
                        width: 978px;
                        border: 1px #eee solid;              
                        li{
                            float: left;
                            width: 109px;
                            text-align: center;
                            line-height: 40px;
                            border-right: 1px #eee solid;
                        }
                        .li_hover{
                            background-color: #e00023;
                            color: #fff;
                        }
                    }  
                    .content{
                        margin-top: 22px;
                        li{
                            height: 200px;
                            background-color: pink;
                        }
                    }
                }
                // .content{
                    
                // }
            }
        }
    }
    
   
}


}