*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f5f5f5;
    min-width: 1070px;
    overflow-x: hidden;
}
/* 移动屏幕-srcoll达到215px 出现  
fix定位
*/
.one_fixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color:#fff;
    display: none;
}
.one_fixed .fixed_main{
    height: 60px;
    width: 1070px;
    margin: 0 auto;
}
.one_fixed .fixed_main img{
    width: 150px;
    height: 60px;
    float: left;
}
.one_fixed .fixed_main .fixed_ipt{
    float: left;
}
.one_fixed .fixed_main .fixed_ipt input{
    width:465px ;
    height:40px ;
    border-radius:19px 0 0 19px;
    border: 2px solid #f93d48;
    padding-left: 32px;
    outline: none;
    float: left;
    margin-left: 70px;
    margin-top: 8px;
    border-right: none;
}
.one_fixed .fixed_main .fixed_ipt button{
    width:60px ;
    height:40px ;
    margin-top: 8px;
    border-radius: 0 19px 19px 0;
    border: 2px solid #f93d48;
    border-left: none;
    float: left;
    color: #fff;
    background-color: #f93d48;
    outline: none;
    text-align: center;
}
.one_fixed .fixed_main >a{
    width:120px ;
    float: right;
    margin-top: 8px;
    border-radius:19px ;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 38px;
    margin-left: 16px;
    background-color: #fff;
    font-size: 16px;
    color: #333333;
}
/* 清浮动 万能清除*/
.clearfix {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}
a{
    cursor: pointer;
}
/* 顶部通栏 */
.header{
    background-color: #f4f4f4;
    border-bottom: 1px #e5e5e5 solid;
    border-top: 1px #b6b4b6 solid;
}
.box{
    height: 30px;
    line-height: 30px;
}
.hd-left{
    height: 30px;
    width: 125px;
    float: left;
}
.hd-left a{
    font-size: 12px;
    color: #666666;
    padding-left: 16px;
}
.hd-mid{
    height: 30px;
    width: 619px;
    float: left;
    font-size: 12px;
    color: #333333;
}
.hd-right{
    height: 30px;
    width: 311px;
    float: left;
}
.hd-right ul li{
    float: left;
    margin-right: 17px;
}
.hd-login span{
    float: left;
}
.hd-login a{
    float: left;
}

.hd-right li a{
    font-size: 12px ;
}


/* <!-- 搜索栏 --> */
.bc{
    background-color: #ffffff;
}
.search{
    height: 180px;
}
.search .search-left{
    height: 140px;
    float: left;
    width: 300px;
}
.search .search-left .img1{
    width: 140px;
    height: 140px;
    float: left;
}
.search .search-left .img2{
    width: 160px;
    height: 90px;
    float: left;
    margin-top: 30px;
}
.search .search-right{
    width: 770px;
    height: 140px;
    float: left;
}
.search .search-right{
    padding-top:50px ;
    padding-left:119px ;
    position: relative;
}
.search .search-right ul li{
    float: left;
}
.search .search-right #search-right-text{
    width:465px ;
    height:40px ;
    border-radius:19px 0 0 19px;
    border: 1px solid #e2e2e2;
    padding-left: 32px;
    outline: none;
    float: left;
    border-right: none;
}
.search .search-right .sr_btn{
    width:40px ;
    height:40px ;
    border-radius: 0 19px 19px 0;
    border: 1px solid #e2e2e2;
    border-left: none;
    float: left;
    background-color: #fff;
    outline: none;
    text-align: center;
}
.search .search-right .cb_show{
    width: 300px;
    height: 200px;
    background-color: pink;
    position: absolute;
    top: 90px;
    z-index: 2000;
}
.search .search-right >a{
    width:120px ;
    float: left;
    border-radius:19px ;
    border: 1px solid #e2e2e2;
    text-align: center;
    line-height: 38px;
    margin-left: 16px;
    background-color: #fff;
    font-size: 16px;
    color: #333333;
}
.search .search-right ul{
    margin-left: 31px;
}
.search .search-right ul li a{
    line-height: 32px;
    color: #aaaaaa;
    font-size: 14px;
    margin-right: 9px;
}
.search .search-right ul li a:hover{
    color: #000;
}
.search .search-down{
    
    margin-top: 2px;
    float: left;
}
.search .search-down ul li{
    float: left; 
}
.search .search-down >ul >li >a{
    padding:0 30px;
    font-size: 16px;
    line-height: 38px;
    color: #333333; 
    text-align: center;
}
.search .search-down .red{
    background-color: #f93d48;
}
.search .search-down .red >a{
    
    color: #fff;
    line-height: 38px;
}

/* 二级菜单 */
.search .search-down .search-list{
    position: absolute;
    width: 1068px;
    height: 408px;
    z-index: 10;
    top: 38px;
    border: 1px red solid;
    background-color: #fff;
    padding: 20px 0;
    display: none;
}
.search .search-down .search-list >li{
    float: left;
    padding-left: 22px;
    width: 177px;
    border-right: 1px #eee solid;
}
.search-list >li .list_row{
    font-size: 12px;
    width: 177px;
    height: 184px;
}
.list_row >a{
    margin-bottom: 10px;
}
.list_row >a >h5{
    font-weight: bolder;
}
.list_row .list_row_det >li >a{
    display: inline-block;
    line-height: 23px;
}
.search-list >li .list_row >ul >li{
    float: left;
    margin-right: 25px;
}
.search .search-down .red{
    position: relative; 
}



/* 轮播图 */
.lunbo{
    height: 400px;
}
.swiper-pagination-bullet-active{
    background-color: #333333;
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}
.slideshow{
    width: 1920px;
    height: 400px;
    border: 1px #e3dcde solid;
    margin: 0 auto;   
}
.slideshow img{
    min-width: 1070px;
    display: block;
    margin: 0 auto; 
}


/* <!-- timer --> */
.timer{
    margin-top: 40px;
    height: 442px;
    position: relative;
}
.timer>.bc{
    height:370px ;
    background: url(./../images/bc01.png);
}
.timer .timer-product .tp-opc{
    background: rgba(0,0,0,0);
    /* margin-left: -5px; */
    padding-top: 9px;
}
.timer .timer-product .tp-opc a{
    padding-right: 0;
}
.timer .super img{
    width: 121px;
    height: 36px;
    margin-left: -5px;
}
.timer .timer-value{
    font-size: 14px;
    color: #fbd8dc;
}
.timer .timer-value span{
    font-weight: bold;
    margin-right: 2px;
    font-weight: bold;
    
}
.timer .timer-end{
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}
.timer .timer-data{
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}
.timer .timer-data em:nth-of-type(1){
    position: absolute;
    left: 40px;
    color: #fff;
    font-size: 25px;
}
.timer .timer-data em:nth-of-type(2){
    position: absolute;
    left: 90px;
    color: #fff;
    font-size: 25px;
}
.timer .timer-data span{
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-right: 16px;
    display: block;
    float: left;
    width: 35px;
    height: 35px;
    color: #fff;
    background: #000;
    border-radius: 10px;
}
.timer .timer-line{
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0 20px 0;
}

.timer .timer-product{
    width: 1050px;
    height: 432px;
    position: absolute;
    left: 10px;
    top: 10px;
}
/* .timer .timer-product ul{
    overflow: hidden;
} */
.timer .timer-product>ul>li{
    float: left;
    background-color:#fff;
    height: 216px;
    transition: all .5s;
}
.timer .timer-product>ul>li:not(:first-child):hover{
    transform: scale(1.05);
    
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.3);
}
.timer .timer-product>ul>li:not(:first-child):hover >a >p{
    color: red;
}
.timer .timer-product>ul>li a{
    padding-left: 25px;
}
.timer .timer-product>ul>li>a{
    width: 210px;
    height: 216px;
    padding:0 30px;
    margin-top: 15px;
}
.timer .timer-product>ul>li>a>img{
    width: 110px;
    height: 110px;
    margin-left: 20px;
}
.timer .timer-product>ul>li>a>p{
    font-size:14px ;
    color:#333 ;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.load{
    background-color:#e2e2e2 ;
    height: 6px;
    border-radius: 8px;
    position: relative;
}
.load span{
    background-color:#e22f44 ;
    height: 6px;
    width: 40%;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
}
.timer .cheap{
    font-size: 8px;
    font-weight: bold;
    color: #e22f44;
    text-align: center;
    line-height: 45px;
}
.timer .cheap .original{
    color: #999999;
}

/* 二维码 */
.timer .code{
    width: 100px;
    height:205px ;
    margin-left: 540px;
    z-index: 200;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
}
.timer .code .code-1{
    background-color: #fff;
    height: 134px;
    border: 1px #f0f0f0 solid;
}
.timer .code .code-1>div{
    height: 104px;
}
.timer .code .code-1>div>p{
    line-height: 31px;
    font-size: 15px;
    color: #333;
}
.timer .code .code-1>div>img{
    height:100%;
    width: 76px;
    margin-left: 12px;
    
}
.timer .code .code-1>img{
    width: 100%;
    height: 30px;
    
}
.timer .code-shopcart{
    background-color: #fff;
    height: 40px;
    border-top: 1px #eee solid;
    line-height: 40px;
}
.timer .goTop{
    line-height: 30px;
    background-color: #000;
    color: #fff;
    display: none;
}



/* <!-- 产品 --> */
.product{
    margin-top: 22px;
    height: 421px;
    
}
.product .pro-left{
    padding-left: 20px;
    width: 899px;
    float: left;
    height: 100%;
    background-color: #fff;
    border-right: 2px #f6f6f6 solid;
}
.product .pro-left .pro-left-top{
    height: 67px;
    padding-top: 17px;
}
.pro-title1{
    font-size:25px ;
    color:#7bc96d ;
    margin-top: 17px;
}
.pro-title2{
    font-size:16px ;
    color:#99d780 ;
}

.product .pro-left .pro-left-bot-choose{
    width: 189px;
    height: 334px;
    float: left;
    background-image: url(./../images/logo05.jpg);
    background-size: cover;
}
.pro-left-bot-choose>ul{
    padding: 16px 0 0 14px;
}
.pro-left-bot-choose>ul>li{
    float: left;
}
.pro-left-bot-choose>ul>li>a{
    display: block;
    width: 75px;
    border: 1px #e3f6db solid;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin:0 9px 9px 0;
}

.product .pro-left .pro-left-bot-show{
    width: 670px;
    height: 334px;
    float: left;
    background-color: #f7f9f7;
}

.pro-left-bot-show .pro-01{
    height: 167px;
    position: relative;
    font-size:14px ;
}
.pro-01-p1{   
    color:#428029 ;
    margin-left: 30px;
    padding-top: 40px;
}
.pro-01-p2{
    color: #6eb152;
    margin-left: 30px ;
}
.pro-01-div{
    color: #78be38;
    margin:12px 0 0 30px;
    width: 78px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #b7dc96;
}
.pro-01-img{
    position: absolute;
    width: 110px;
    height: 110px;
    bottom:27px ;
    right: 30px;
}
.pro-border{
    border-right: 1px #f6f6f6 solid;
}

.pro{
    height: 167px;
    position: relative;
    color: #666;
    background: #fff; 
}
.pro-p{
    margin:16px 0 0 15px;
}
.money{
    margin-left: 15px;
    font-weight: 400;
}
.pro-img{
    width:90px;
    height: 90px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.product .pro-right{
    width: 170px;
    height: 100%;
    float: left;
    background:#fff url(./../images/logo08.png) no-repeat 80px 0px;
    background-size:70px 85px;
}
.ranking-up p:first-of-type{
    font-size:16px ;
    margin-left:20px;
    padding-top: 20px;
    color:#333333 ;
}
.ranking-up p:nth-of-type(2){
    font-size:12px ;
    margin-left:20px;
    line-height: 24px;
    color:#999999 ;
}
.ranking-down{
    height: 300px;
    padding-left: 40px;
}
.ranking-down ul li{
    margin-top: 10px;
}
.ranking-down ul li a{
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.07);
    display: block;
    width: 90px;
    height: 90px;
    background-color: #fff;
}
.ranking-down ul li a p{
    text-align: center;
    line-height: 16px;
    width: 40px;
    height: 16px;
    color: #fff;
}
.ranking-down ul li a img{
    margin: 10px 0 0 15px;
    width: 70px;
    height: 50px;
}
.ranking-down ul li:nth-of-type(1) a p{
    background-color: #f2c66a;
}
.ranking-down ul li:nth-of-type(2) a p{
    background-color: #b1b3c1;
}
.ranking-down ul li:nth-of-type(3) a p{
    background-color: #d8c2ba;
}
.rankbtn{
    height: 19px;
    padding:0 40px;
    background-color: #fff;
}
.rankbtn span{
    text-align: center;
    display: block;
    line-height: 16px;
    width: 16px;
    float: left;
    color: #fff;
    border-radius: 50%;
    background-color: #ebebeb;
}
.btn-color{
    background-color: #d5d5d5;
}
.rankbtn span:nth-of-type(1){
    margin-left: 20px;
}
.rankbtn span:nth-of-type(2){
    margin-left: 18px;
}

/* <!-- 猜你想要|推荐 --> */

.want .want-log{
    height: 131px; 
    background: url(./../images/logo10.png) no-repeat center;
    background-size: 390px 65px;
}
.want .want-log p{
    font-size:16px ;
    color: #999999;
    text-align: center;
    margin-top: 90px;
    letter-spacing: 1px;
}
.want-hid .item{
    width: 168px;
    height: 236px;
    float: left;
    background-color: pink;
}
/* footer */
.footer{
    background-color: #ffffff
}
.aftersale{
    height: 126px;
    border-bottom: 1px solid #ebebeb;
}
.aftersale img{
    display: block;
    width: 66px;
    height: 66px;
    margin-top: 30px;
}
.aftersale dd{
    margin-top: 40px;
    padding-left: 15px; 
}
.aftersale dd p{
    font-size: 16px;
    color: #333;
    font-weight: bolder;
}
.aftersale dd span{
    font-size: 14px;
    color: #999;
}
.footer .aftersale ul .leftmove{
    padding-left: 30px;
}

.help{
    height: 167px;
}
.help dl{
    float: left;
    padding-left: 22px;
    padding-top: 20px;
}
.help dl dt{
    font-size: 14px;
    color:#666666 ;
    margin-bottom: 10px;
}
.help dl dd a{
    display: block;
    font-size:12px ;
    color:#666666 ;
    line-height: 23px;
}
.help .help-right{
    padding-top: 30px;
}
.help .help-right img{
    margin-top: 6px;
    width: 85px;
    height: 85px;
}
.help .help-right .code-left p{
    font-size: 14px;
    color:#666 ;
    font-weight:bold ;
}
.help .help-right .code-right p{
    font-size: 14px;
    color:#666 ;
    font-weight:bolder ;
}

.end{
    height: 115px;
    text-align: center;
}
.end p{
    height: 14px;
    text-align: center;
    margin-top: 15px;
}
.end p a{
    display: inline;
    margin: 0 6px;
}
.end .copyright{
   font-size:10px ;
   color:#666 ;
}
.end .logo-end{
    padding-top: 30px;
    height: 55px;
}
.end .logo-end a{
    display: inline;
    text-indent: 5px;
}
.end .logo-end a img{
    display: inline;
}